/* Dillons code */
.my-header{
    font-family: 'Palanquin Dark', sans-serif;
    margin: 0 auto;
    margin-top: 1%;
    width: 50%;
    background-color: #546e7a;
    border-radius: 15px;
    border: 2px solid #ffffff;
    z-index: 15;
    position: fixed;
    left: 25%;
}

.center{
    font-size: 7.5vw;
}

#map {
    margin-top: -20px;
    margin: 0 auto;
    width: 100%;
    height: 850px;
    background-color: grey;
  }

/* end */

/* Meeras code */


.searchbar {
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    /* margin-right:auto;
    margin-left:auto; */
    font-family: 'Palanquin Dark', sans-serif;
    z-index: 15;
    position: fixed;
    left: 35%;
    top: 15%;
}
/* end */
